# Copyright (C) 2016 and later: Unicode, Inc. and others.
# License & terms of use: http://www.unicode.org/copyright.html
*.egg-info
*.jar
*.ncb
*.o
*.opt
*.pdb
*.plg
APIChangeReport*
Debug
Makefile
Makefile.local
Release
build
classes
cooked
debug
genprops
genprops.[0-9]
genprops.vcproj.*.*.user
genuca
genuca.8
genuca.vcproj.*.*.user
jxml
lib
multi/c/Makefile.local
multi/packages/*.tgz
multi/proj/
multi/proj/chello/out
multi/proj/icu4cscan/dtdcache
multi/proj/icu4jscan/bin
multi/proj/provider/out
multi/tmp
release
release/c/uconfigtest
release/java/Makefile.local
trac/IcuCodeTools/0.11/build
trac/IcuCodeTools/0.11/icucodetools/*.pyc
trac/IcuCodeTools/0.12/dist
trac/IcuCodeTools/0.12/icucodetools/*.pyc
uconfigtest.local
unicode/c/genprops/*.d
unicode/c/genuca/*.d
unicodetools/com/ibm/rbm/lib
x64
x86
xml
